{% extends 'widgets/widget_template.html' %}
{% load custom_template %}

{% block title_color %}{{ title_color|default:'white' }}{% endblock %}
{% block title_text_color %}{{ title_text_color|default:'rgb(101, 71, 150)' }}{% endblock %}
{% block body_color %}{{ body_color|default:'white' }}{% endblock %}
{% block body_text_color %}{{ body_text_color|default:'black' }}{% endblock %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block title1 %}{{ title1 }}{% endblock %}
{% block title2 %}{{ title2 }}{% endblock %}
{% block custom_tools %}
{% endblock %}

{% block widget_content %} <!-- Main Start Block -->

<!-- 
File: ./display_report_data.html

-->

<style>
    #vx-template-container table {
        margin-bottom: 20px;
    }

    #vx-template-container .vx-table-vertical {
        width: initial;
        font-size: 12px;
    }

    #vx-template-container .vx-table-vertical td {
        padding: 5px;
        border: 1px solid rgb(234, 234, 234);
    }

    #vx-template-container .vx-table-vertical a:link {
        color: black;
    }

    #vx-template-container .vx-table-vertical a:hover {
        text-decoration:underline;
    }

    #vx-template-container .vx-table-vertical a:visited {
        color: black;
    }

    #vx-template-container .vx-h3 {
        font-size : 20px
    }

    #vx-template-container .vx-h4 {
        font-size : 16px
    }

    #vx-template-container .vx-h5 {
        font-size : 14px
    }
    
    #vx-template-container .vx-clear {
        clear: both;
    }

    #vx-template-container .vx-header .btn.btn-xs {
        height: 20px;
    }

    #vx-template-container #vx-show-in-webservice {
        margin-top: -3px;
    }

    #vx-template-container .vx-truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /*table.vx-table-vertical tr td a span.fa-caret-down {*/
        /*font-size: smaller;*/
    /*}*/

</style>
<div id="vx-template-container" style="overflow: auto; width: 100%; height: 100%; padding-left:10px; padding-right:10px"> <!-- Main Div -->
  {% for result in results %} <!-- loop for each result -->
        <br>

        <!------------------- For each Result ---------------------->
        <div>
            <h3 class="vx-h3 vx-header">Sample report data <a href="{{ result.data.sample_url }}" id="vx-show-in-webservice" class="btn btn-xs btn-phantom-purple" target="_blank">Show in WebService <i class="glyphicon glyphicon-menu-right"></i></a></h3>
        </div>
        <table class="vx-table-vertical">
            <tr>
                <td><b>File Name</b></td>
                <td>
                   <a class="vx-truncate" style="width: 380px; display: block; float: left;" href="javascript:;" onclick="context_menu(this, [{'contains': ['file name'], 'value': '{{ result.data.file_name }}' }], 0, {{ container.id }}, null, false);">
                        {{ result.data.file_name }}
                    </a>
                    <a href="javascript:;" style="float: left;" onclick="context_menu(this, [{'contains': ['file name'], 'value': '{{ result.data.file_name }}' }], 0, {{ container.id }}, null, false);">&nbsp;<span class="fa fa-caret-down"></span></a>
                </td>
            </tr>
            <tr>
                <td><b>File Type</b></td>
                <td>{{ result.data.file_type }}</td>
            </tr>
            <tr>
                <td><b>SHA256</b></td>
                <td>
                    <a href="javascript:;" onclick="context_menu(this, [{'contains': ['sha256'], 'value': '{{ result.param.sha256 }}' }], 0, {{ container.id }}, null, false);">
                        {{ result.param.sha256 }}<span>&nbsp;</span><span class="fa fa-caret-down"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td><b>Vault ID</b></td>
                <td>
                    <a href="javascript:;" onclick="context_menu(this, [{'contains': ['vault id'], 'value': '{{ result.data.vault_id }}' }], 0, {{ container.id }}, null, false);">
                        {{ result.data.vault_id }}<span>&nbsp;</span><span class="fa fa-caret-down"></span>
                    </a>
                </td>
            </tr>
        </table>

        <!------------------- For each Result END ---------------------->
    {% endfor %} <!-- loop for each result end -->
</div> <!-- Main Div -->

{% endblock %} <!-- Main Start Block -->

